/*All Pages*/
    /*Misc*/
    iframe{
        width:100%;
    }
    body{
        margin:0px;
        padding: 0px;
    }
    h1, h2, h3, h4{
        font-weight: bold;
    }
    h1, h2, h3{
        font-family:"Arial Black";
    }
    .center{
        text-align: center;
    }
    h1>a{
        color: #47a832;
    }
    h1>a:hover{
        color: #2e771f;
    }

    /*Header*/
    .jumbotron{
        text-align: center;
        background-color: #a4cf91;
        padding: 0px;
        margin: 0px;
    }
    .jumbotron img{
        width:20%;
        margin:0px;
    }
    .jumbotron h1{
        padding: 40px;
        margin:0px;
        font-size:75px;
        font-family: 'Charm';
    }

    /*Navbar*/
    .navbar-brand{
        padding: 0px;
    }
    .navbar-brand img{
        height: 100%;
        margin:0px;
        padding: 0px 0px 0px 10px;
    }
    .container-fluid {
        margin: 0 auto;
        width: 100%;
    }

    /*Footer*/
    .footer{
        background-color: #c6c6c6;
        margin: 20px 0px 0px 0px;
        padding: 10px 0px 10px 0px;
        font-size:75%;
    }
    .footer .btn{
        width:125px;
        font-size:90%;
    }
    .footer td{
        width:100%;
    }

/*Index*/
    /*Slide Show*/
    #myCarousel{
        height: 400px;
        width: 75%;
        margin: auto;
    }
    div.item{
        height:400px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        margin: auto;
        object-fit:cover;
    }
    .carousel-caption{
        text-shadow: 3px 3px 10px black;
    }

/*Menu Pages*/
    /*Menu*/
    label{
        font-size: 18px;
        color: #529937;
    }
    /*menu nav*/
    .list-group-item-heading{
        font-size:20px;
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
        background-color: #2a9e5e;
        border-color: #33b77a;
    }

/*Contact*/
    /*inputs*/
    label.service{
        color: #17a2b8;
    }
    label.food{
        color: #28a745;
    }
    label.atmos{
        color: #ffc107;
    }

    iframe{
        width:100%;
        height: 500px;
        margin:20px 0px;
    }