/*Header*/
.jumbotron{
    text-align: center;
    background-color: #a7dd92;
    padding: 0px;
    margin: 0px;
}
.jumbotron img{
    width:20%;
    margin:0px;
}
.jumbotron h1{
    padding: 20px;
}

/*Navbar*/
.navbar-brand{
    width:10%;
    margin:0px;
}

/*Footer*/
.footer{
    background-color: #c6c6c6;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}